<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>PortLog</title>
    @Styles.Render("~/Content/css")
    @Scripts.Render("~/bundles/modernizr")
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
</head>
<body>
    <main class="container">
        <section class="row">
            <form class="col-lg-7" method="post" action="../Home/Register">
                <h2>Registro</h2>
                <label for="registerId">Cédula de Indentidad</label><input type="number" id="registerId" name="id" />
                <label for="registerPassword">Contraseña</label><input type="password" id="registerPassword" name="password" />
                <label for="role">Rol</label>
                <select id="role" name="role">
                    <option value="admin">Admin</option>
                    <option value="deposito">Deposito</option>
                </select>
                <input type="submit" value="Registrar" />
            </form>
        </section>
        
        @if (Session["RegisterError"] != null)
        {<section class="row">
            <article class="col-lg-6 bg-danger">
                <p>@Convert.ToString(Session["RegisterError"])</p>
            </article>
        </section>
        }       
        <section class="row">
            <form class="col-lg-7" method="post" action="../Home/Login">
                <h2>Iniciar sesión</h2>
                <label for="loginId">Cédula de Indentidad</label><input type="number" id="loginId" name="id" />
                <label for="loginPassword">Contraseña</label><input type="password" id="loginPassword" name="password" />
                <input type="submit" value="Iniciar Sesión" />
            </form>
        </section>
        
        @if (Session["LoginError"] != null)
        {
            <section class="row">
                <article class="col-7 bg-danger">
                    <p>@Convert.ToString(Session["LoginError"])</p>
                </article>
            </section>
        }
        
        <section class="row">
            <a class="btn btn-dark" href="../Home/ExportDB">Exportar Base de Datos</a>
            <a class="btn btn-dark" href="../Home/ImportDB">Importar a Base de Datos</a>
        </section>

        @if(ViewBag.DataMessage != null)
        {
            <section class="row bg-info">
                <p>@ViewBag.DataMessage</p>
            </section>
        }
    </main>
</body>
</html>