<head>

</head>
<body>
    <header>
        <nav>
            <section>
                <a href="Index">Volver</a>
            </section>
        </nav>
    </header>
    <main class="container">
        <section id="productsListSection">
            <h2>Imports</h2>
            <table class="table">
                <tr>
                    <th>Código</th>
                </tr>
                <tr>
                    <th>Nombre</th>
                </tr>
                <tr>
                    <th>Unidades</th>
                </tr>
                @foreach (var p in ViewBag.productsList)
                {
                    if (p.Id == ViewBag.idProduct)
                    {
                        <tr>
                            <td>@p.Id</td>
                        </tr>
                        <tr>
                            <td>@p.Name</td>
                        </tr>
                        <tr>
                            <td>@p.Ammount</td>
                        </tr>
                        <tr>
                            <td>@p.ProductWeight</td>
                        </tr>
                        <tr>
                            <td>@p.ClientTin</td>
                        </tr>
                    }
                }
            </table>
            <form method="post" action="">
                <h3>Agreggar Importación</h3>
                <fieldset>
                    <label>Id de producto</label>
                    <input type="text" name="productId" required/>
                </fieldset>
                <fieldset>
                    <label>Rut de cliente</label>
                    <input type="number" name="clientTin" required/>
                </fieldset>
                <fieldset>
                    <label>Precio por unidad</label>
                    <input type="number" name="priceByUnit" required/>
                </fieldset>
                <fieldset>
                    <label>Cantidad</label>
                    <input type="number" name="ammount" required/>
                </fieldset>
                <fieldset>
                    <label>Destino</label>
                    <input type="text" name="destiny" required/>
                </fieldset>
                <fieldset>
                    <label>Fecha de entrada</label>
                    <input type="date" name="entryDate" required/>
                </fieldset>
                <fieldset>
                    <label>Fecha de salida</label>
                    <input type="date" name="departureDate" required/>
                </fieldset>
                <input type="submit" value="Ingresar" />
            </form>
        </section>
    </main>
    <footer>
        <p></p>
    </footer>
</body>